<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The resin House</title>
        <link rel="stylesheet" href="../static/css/about.css">
    </head>

    <body>
        <section id="header">
            <a href="#"><img src="../static/images/hello/logo_f1.png" class="logo" alt="" height="100" width="150" ></a>
            <div>
                <ul id="navbar">
                    <li><a  href="/">HOME</a></li>
                    <li><a class="active" href="/about">ABOUT US</a></li>
                    <li><a href="/location">OUR SOLUTION</a></li>
                    <!--<li><a href="about.html">ABOUT</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="wishlist.html"><i class="fas fa-heart"></i></a></li>-->
                </ul>
            </div>
            </section>
        <div class="heading">
            <h1>Crop Combination Prediction Using ML</h1>
            <!--<p>If your curious to know the proccess of hows it done you have landed on the right page!! Dive in to know more</p>-->
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src = "../static/images/about/Screenshot 2023-11-02 145225.png">
                </div>
                <div class = about-content>
                    <h2>Motive</h2>
                    <p id ="about_para">Technology in agriculture, often referred to as AgTech, encompasses a range of innovations aimed at improving the efficiency and sustainability of farming practices. It includes the use of precision agriculture, drones, and satellite imagery for optimized crop management. Genetic engineering and biotechnology have led to the development of genetically modified crops with enhanced traits. Automation and robotics play a vital role in tasks like harvesting and weeding. IoT devices and sensors enable real-time data collection for informed decision-making. Additionally, AI and machine learning help analyze data, predict crop diseases, and manage resources more effectively, ultimately enhancing food production while reducing environmental impacts.</p>
                    <button class="readmore"><a href="">Read More</button>
            </div>
            </section>
        </div>
        
            <footer  class="section-p1">
                <div class="col">
                    <!--<img class="logo" src="images/logo3.png" alt="" height="10x" width="20px">-->
                    <h4>Contact</h4>
                    <p><strong>Location:</strong>Bangalore,Karntaka</p>
                    <p><strong>Phone:</strong>+91 9999999999/ 080 42000110</p>
                    <p><strong>Hours</strong>10:00 - 18:00, Mon-Fri</p>
    
                    <div class="follow">
                        <h4>follow us</h4>
                    </div>
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
    
    
                <div class="col">
                    <h4>About</h4>
                    <a href="#">About us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Delivery</a>
                    <a href="#">Contact Us</a>
                </div>
    
                <div class="col">
                    <h4>My account</h4>
                    <a href="#">Sign In</a>
                    <a href="#">View cart</a>
                    <a href="#">My wishlist</a>
                    <a href="#">Track my order</a>
                    <a href="#">Help</a>
                </div>
    
                <div class="col install">
                    <h4>Install App</h4>
                    <p>From App Store or Google Play</p>
                    <div class="row">
                        <img src="images/app.jpg" alt="">
                        <img src="images/play.jpg" alt="">
                    </div>
                    <p>secured Payment Gatewyas</p>
                    <img src="images/pay.png" alt="">
                    <p></p>
                </div>
    
                <div class="copyright">
                <p>2024 ,The Soil Pulse - All rights Reserved</p>
                </div>
            </footer>
        <script src="script.js"></script>
    </body>
</html>