<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ashwathy.css') }}">
</head>
<body>
    <section id="header">
        <a href="#"><img src="../static/images/hello/logo_f1.png" class="logo" alt="" height="100" width="150" ></a>
        <div>
            <ul id="navbar">
                <li>SOIL PULSE</li>
                <li><a  href="/">HOME</a></li>
                <li><a href="/about">ABOUT US</a></li>
                <li><a href="/location" class="active">OUR SOLUTION</a></li>
               
            </ul>
        </div>
        </section>

        {% block content %}{% endblock %}
       


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <section id="hope">
            
            <footer  class="section-p1">
                <div class="col">
                    <!--<img class="logo" src="images/logo3.png" alt="" height="10x" width="20px">-->
                    <h4>Contact</h4>
                    <p><strong>Location:</strong>Bangalore,Karntaka</p>
                    <p><strong>Phone:</strong>+91 9999999999/ 080 42000110</p>
                    <p><strong>Hours</strong>10:00 - 18:00, Mon-Fri</p>
    
                    <div class="follow">
                        <h4>follow us</h4>
                    </div>
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
    
    
                <div class="col">
                    <h4>About</h4>
                    <a href="#">About us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms and Conditions</a>
                    <a href="#">Delivery</a>
                    <a href="#">Contact Us</a>
                </div>
    
                <div class="col">
                    <h4>My account</h4>
                    <a href="#">Sign In</a>
                    <a href="#">View cart</a>
                    <a href="#">My wishlist</a>
                    <a href="#">Track my order</a>
                    <a href="#">Help</a>
                </div>
    
                <div class="col install">
                    <h4>Install App</h4>
                    <p>From App Store or Google Play</p>
                    <div class="row">
                        <img src="images/app.jpg" alt="">
                        <img src="images/play.jpg" alt="">
                    </div>
                    <p>secured Payment Gatewyas</p>
                    <img src="images/pay.png" alt="">
                    <p></p>
                </div>
    
                <div class="copyright">
                <p>2024 ,The Soil Pulse - All rights Reserved</p>
                </div>
            </footer>
        
        </section>

       
</body>
</html>
