<!DOCTYPE html>
<html>
<head>
<title>Get Price</title>
<link rel="stylesheet" href="../static/css/about.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/price.css') }}">

</head>
<body >
  <section id="header">
    <a href="#"><img src="../static/images/hello/logo_f1.png" class="logo" alt="" height="100" width="150" ></a>
    <div>
        <ul id="navbar">
            <li><a  href="/">HOME</a></li>
            <li><a  href="/about">ABOUT US</a></li>
            <li><a class="active" href="/location">OUR SOLUTION</a></li>
            <!--<li><a href="about.html">ABOUT</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="wishlist.html"><i class="fas fa-heart"></i></a></li>-->
        </ul>
    </div>
    </section>
<h1>Get Price</h1>
<div id="pbody">
  <form action="/predict_price" method="POST" onsubmit="return validateForm()">
    <label for="district">Select District</label>
    <select id="district" name="district" >
      {% for district in district_list %}
      <option value="{{district}}">{{district}}</option>
      {% endfor %}
    </select>

    <label for="market">Select Market</label>
    <select id="market" name="market" >
      {% for market in market_list%}
      <option value="{{market}}">{{market}}</option>
      {% endfor %}
    </select>
    
    <label for="commodity">Select Commodity</label>
    <select id="commodity" name="commodity" >
      {% for comm in commodity_list%}
      <option value="{{comm}}">{{comm}}</option>
      {% endfor %}
    </select>

    <label for="variety">Select Variety</label>
    <select id="variety" name="variety" >
      {% for var in variety_list%}
      <option value="{{var}}">{{var}}</option>
      {% endfor %}
    </select>
    <label for="grade">Select Grade</label>
    <select id="grade" name="grade" >
      {% for grade in grade_list%}
      <option value="{{grade}}">{{grade}}</option>
      {% endfor %}
    </select>
    <label for="date">Select a date:</label>
    <input type="date" id="date" name="date" min="{{today_date}}" >

    <br>
    <br>
    <button type="submit" class="Mprimary" id="getRecommendationButton" href="">Get Price</button>
  </form>
  <script>
    function validateForm() {
        var inputDate = document.getElementById("date").value;// Set time to 00:00:00 to ignore time part

        // Check if the date is not entered
        if (inputDate === '') {
            alert("Please enter a date.");
            return false;
        }

        return true;
    }
  </script>
</div>
<footer  class="section-p1">
  <div class="col">
      <!--<img class="logo" src="images/logo3.png" alt="" height="10x" width="20px">-->
      <h4>Contact</h4>
      <p><strong>Location:</strong>Bangalore,Karntaka</p>
      <p><strong>Phone:</strong>+91 9686765971 / 080 42001110</p>
      <p><strong>Hours</strong>10:00 - 18:00, Mon-Fri</p>

      <div class="follow">
          <h4>follow us</h4>
      </div>
      <div class="icon">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-youtube"></i>
      </div>
  </div>


  <div class="col">
      <h4>About</h4>
      <a href="#">About us</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Delivery</a>
      <a href="#">Contact Us</a>
  </div>

  <div class="col">
      <h4>My account</h4>
      <a href="#">Sign In</a>
      <a href="#">View cart</a>
      <a href="#">My wishlist</a>
      <a href="#">Track my order</a>
      <a href="#">Help</a>
  </div>

  <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
          <img src="images/app.jpg" alt="">
          <img src="images/play.jpg" alt="">
      </div>
      <p>secured Payment Gatewyas</p>
      <img src="images/pay.png" alt="">
      <p></p>
  </div>

  <div class="copyright">
  <p>© 2023 ,The Resin House -All rights Reserved</p>
  </div>
</footer>
</body>
</html>
