<!DOCTYPE html>
<html>
<head>
    <title>Training Page</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <section id="header">
        <a href="#"><img src="../static/images/hello/logo_f1.png" class="logo" alt="" height="100" width="150" ></a>
        <div>
            <ul id="navbar">
                <li><a  href="/">HOME</a></li>
                <li><a  href="/about">ABOUT US</a></li>
                <li><a href="/location" class="active">OUR SOLUTION</a></li>
            </ul>
        </div>
    </section>
    <!--            BODY             -->
    <h2 id="status">Status: Waiting for Action</h2>
    <button id="trainButton" class="Iprimary">Train</button>
    <div id="bod">
        <h2>Accuracy</h2>
        <h2 id="l1"></h2>
        <h2 id="l2"></h2>
        <h2 id="l3"></h2>
    </div>
    <h2 id="data"></h2>
    <button id="trainAgainButton" style="display: none;" class="Iprimary">Train Again</button>
    <a href="/price_input"><button id="nextButton" style="display: none;" class="Iprimary">Next</button></a>
    
    <script>
        const trainButton = document.querySelector("#trainButton");
        const status = document.getElementById("status");
        const l1 = document.getElementById("l1");
        const l2 = document.getElementById("l2");   
        const l3 = document.getElementById("l3");
        const trainAgainButton = document.getElementById("trainAgainButton");
        const nextButton = document.getElementById("nextButton");

        let intervalId;
        function fetchDataAndUpdateStatus() {
            fetch('/train_status', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
                })
                .then(response => response.json())
                .then(data => {
                status.textContent = data.status;
                l1.textContent = "Layer 1:"+data.acc['layer1'];
                l2.textContent = "Layer 2:"+data.acc['layer2'];
                l3.textContent = "Layer 3:"+data.acc['layer3'];
                if (data.complete === 1) {
                    clearInterval(intervalId);
                    trainButton.style.display = "none"; // Hide train button
                    trainAgainButton.style.display = "inline-block"; // Display train again button
                    nextButton.style.display = "inline-block"; // Display next button
                }
                })
                .catch(() => {
                status.textContent = "Error fetching data from API";
                });
        };

        trainButton.addEventListener("click", () => {
            clearInterval(intervalId);
            fetchDataAndUpdateStatus();
            intervalId = setInterval(fetchDataAndUpdateStatus, 500);
            train();
        });

        function train(){fetch('/train', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
            })
            .then(response => response.json())
            .then(data => {
            document.getElementById("data").textContent = data.message;
            })
            .catch(() => {
            console.error("Error fetching market data from API");
        });}

        // Event listener for Train Again button
        trainAgainButton.addEventListener("click", () => {
            train();
            clearInterval(intervalId);
            fetchDataAndUpdateStatus();
            intervalId = setInterval(fetchDataAndUpdateStatus, 500);
        }); 
    </script>

<!--                            /BODY                             -->
 <footer  class="section-p1">
    <div class="col">
        <h4>Contact</h4>
        <p><strong>Location:</strong>Bangalore,Karntaka</p>
        <p><strong>Phone:</strong>+91 9686765971 / 080 42001110</p>
        <p><strong>Hours</strong>10:00 - 18:00, Mon-Fri</p>

        <div class="follow">
            <h4>follow us</h4>
        </div>
        <div class="icon">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>


    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Delivery</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My account</h4>
        <a href="#">Sign In</a>
        <a href="#">View cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="images/app.jpg" alt="">
            <img src="images/play.jpg" alt="">
        </div>
        <p>secured Payment Gatewyas</p>
        <img src="images/pay.png" alt="">
        <p></p>
    </div>

    <div class="copyright">
    <p>© 2023 ,The Resin House -All rights Reserved</p>
    </div>
</footer>
</body>
</html>
